<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="namePrinterInterface" class="com.stkiller.example.output.NamePrinter" abstract="true"/>

    <bean id="defPrinter" parent="namePrinterInterface" class="com.stkiller.example.output.DefaultNamePrinter"/>

    <bean id="helloBean" class="com.stkiller.example.DefaultHelloWorld">
        <constructor-arg value="StKiller"/>
        <constructor-arg ref="defPrinter"/>
    </bean>

</beans>
