<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="defPrinter" class="com.stkiller.example.output.DefaultNamePrinter"/>

    <bean id="greetingBean" class="com.stkiller.example.engine.DefaultHelloWorld" init-method="init">
        <property name="namePrinter" ref="defPrinter"/>
    </bean>

</beans>
